.accordi-butt {
  position: relative;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-barbantuan {
  position: relative;
  width: 300px;
  transform: translate(31%, -50%);
}
