/* .text-ganti {
    position: absolute;
    width: 36px;
    height: 100px;
    left: 82%;
    top: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 90px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
    opacity: 0.5;
}

.text-title1 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 170px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title2 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 45%;
    top: 170px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.text-title3 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 69%;
    top: 170px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #252525;
}

.text-title4 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title5 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 45%;
    top: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title6 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 69%;
    top: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #252525;
}

.text-title7 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 30%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title8 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 69%;
    top: 30%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #252525;
}

.text-title9 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 35%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title10 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 40%;
    font-family: 'Montserrat-thin';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title11 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 76%;
    top: 40%;
    font-family: 'Montserrat-thin';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title12 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 43%;
    font-family: 'Montserrat-thin';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title13 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 76%;
    top: 43%;
    font-family: 'Montserrat-thin';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title14 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 67%;
    top: 35%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title15 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 6%;
    top: 48%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
}

.text-title16 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 60%;
    top: 48%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #252525;
} */

table {
  box-shadow: 0px 0px 0px 1px;
}
table td {
  width: 35%;
}
table tr {
}

.table2 {
  font-size: 13px;
  margin-left: 50px;
  margin-right: 5%;
  box-shadow: 0px 0px 0px 0px;
  margin-bottom: 10px;
  clear: both;
  width: 90%;
}
.isi-pesanan {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 100px;
  left: 45%;
  width: 500px;
}

.button-konfir-pesanan {
  position: relative;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  background: #1f2937;
  margin-top: 2%;

  font-family: "Montserrat";
  font-size: 15px;

  color: #ffffff;
}

.button-proses-pembayaran {
  background: #1f2937;

  font-weight: bolder;
  font-family: "Montserrat";
  font-size: 15px;
  width: 400px;
  border-radius: 8px;
  color: #ffffff;
}

.text-title {
  font-weight: bolder;
}
