.App {
  font-family: "Poppins";
}

.buttonplus {
  position: absolute;
}

.menu-tittle {
  width: 75%;
  height: 5%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;

  font-size: 14px;

  color: #252525;
}
.oval {
  position: absolute;
  left: 0;

  padding-left: 20px;
  margin-left: 10px;
  text-align: center;
  background: #1f2937;
  display: inline-block;
  height: 20px;
  width: 68%;
  font-weight: medium;
  font-family: "Poppins";
  font-size: 8px;
  border-radius: 8px;
  color: #ffffff;
}
.oval2 {
  height: 20px;
  background: #007bff;
  position: absolute;
  right: 0;
  width: 40px;
  font-weight: medium;
  font-family: "Poppins";
  font-size: 8px;
  border-radius: 8px;
  color: #ffffff;
}
.menu-harga {
  position: absolute;
  right: 0;

  color: #db1c1c;
}

.rate {
  position: absolute;
  right: -2px;

  font-family: "Montserat";
  font-weight: 700;
  font-size: 8px;

  color: #db1c1c;
}

.menu-deskripsi {
  position: relative;
  text-align: left;
  font-weight: 200;
  font-family: "Poppins";
  width: 74%;
  font-size: 11px;
  padding-top: 2%;
  opacity: 70%;
  color: black;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
