/* .logonav {
    position: absolute;


    left: 10%;
    top: 7%;
    transform: translate(-50%, -50%);
    color: black;

}

.Navbar-isi {
    height: 150px;
    background-color: black;
}
*/


.searchbar{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
}
.daftarmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 25px;
    gap: 10px;
    
    position: center;
    width: 149px;
    height: 30px;
    left: 122px;
    top: 77px;
    
    background: #1F2937;
    border-radius: 5px;
}