/* .logonav {
    position: absolute;


    left: 10%;
    top: 7%;
    transform: translate(-50%, -50%);
    color: black;

}

.Navbar-isi {
    height: 150px;
    background-color: black;
}
*/

.keren {
    height: 5px;
}