.Gambarslider {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.bestmenu {
  font-weight: bolder;
}

.caption {
  position: relative;

  font-family: "Poppins";
  font-style: bold;

  font-size: 7vw;

  /* identical to box height */

  color: #ffffff;
}

.caption2 {
  position: relative;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 100%;
  font-size: 6vw;

  /* identical to box height */

  color: #ffffff;
}
