.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-back {
  position: absolute;
  width: 30px;
  height: 26px;
  left: 30px;
  top: 20px;
}

.disable-button {
  position:absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  background: #1F2937;
  padding: 1px 30px;

  white-space: nowrap;

  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 40px;
  border-radius: 10px;
  color: #FFFFFF;
}

.enable-button {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background: #1F2937;

  white-space: nowrap;

  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 30px;
  border-radius: 10px;
  color: #FFFFFF;
}

.search {
  box-sizing: border-box;
  
  position: absolute;
  width: 400px;
  height: 40px;
  transform: translate(138%, 90px);
  top: 10%;
  
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 15px;
}

.searchTerm {
  width: 100%;
  height: 50%;
  border: 1px solid #EBEBEB;
  color: #1F2937;
  border-radius: 15px;
  
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  padding: 20px;  
}

.searchButton {
  position: absolute;
  width: 48.71px;
  height: 41px;
  left: 350px;
  
  background: #1F2937;
  border-radius: 0px 15px 15px 0px;
}

.wrap {
  width: 5%;
  position: flex;
  top: 200%;
  left: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
